/*Reset*/
body{
padding-top: 55px;
background-color: #cdebf9;
}
html, body{
	height:100%;
	width: 100%;
	font-family:'poppins', sans-serif;
	color: #343a40;
}
/*Navbar*/
.navbar{
	background-color: #6f8799;
}
.navbar a{
	color: #ffffff;
	font-size: 1.2rem;
}
.navbar li{
	padding-left: 1rem;
}
.navbar ul{
	margin-right: 20%;
}
.dropdown-menu{
	background-color: #6f8799;
}
.navbar-brand{
	margin-left: 20%;
}
.navbar-toggler-icon{
	text-align: center;
}
/*About*/
#about{
	padding-top: 1rem;
	padding-bottom: 1rem;
}
#about .container{
	background-color: #ffffff;
	padding: 0;
	height: auto;
	margin: 20px auto;
	text-align: center;
	box-shadow: 0px 0px 40px -10px rgba(59,66,71,1);
	border: 0.5px solid #72A7A3;
}
.about-photo img{
	margin-top: 3rem;
	margin-bottom: 3rem;
	width: 85%;
	height: auto;
	border-radius: 50%;
	box-shadow: 0px 0px 40px -10px rgba(59,66,71,1);
	position: relative;	
}
.table, .about-text h1, .about-text p{
	clear: both;
	float: left;
	padding-left: 0;
}
.about-text{
	padding-top: 4rem;
	padding-left: 2rem;
}
.about-text h1{
	padding-top: 1%;
	text-align: center;
}
.about-text p{
	padding-top: 10px;
	font-size: 1.3rem;
	text-align: left;
}
.table li{
	text-align: left;
	list-style-type: none;
	font-size: 1.1rem;
	padding-bottom: 0.2rem;
}
.table{
	margin-left: -0.9rem;
}
/*Skills*/
.jumbotron{
	background-color: #ffffff;
}
#skills h1{
text-align: center;
color: #343a40;
padding-bottom: 1rem;
}

#skills table {
	margin: auto;
	max-width: 100%;
	height:auto;
	table-layout: fixed;
}
#skills td {
	font-size: 1.2rem;
	text-align: center;
	padding: 1.2rem 1.2rem;
	border-bottom: #007bff 1px solid;
	border-top: none;
}
#skills ul{
	clear: both;
	display:table; margin:0 auto;
	padding-top: 2rem;
}
#skills li{
	font-size: 1.2rem;
	padding-top: 0.6rem;
	list-style-type: none;
	text-align: justify;
}
#skills-list i.fas{
	font-size: 1.5rem;
	color: #5cb85c;
	padding-right: 1rem;
}
.progress{
	height: 10px;
	margin-top: 1rem;
}
.skills-col i.fab{
	font-size: 4rem;
	width: 100%;
	text-align: center;
}
.skills-col i.fas{
	font-size: 4rem;
	width: 100%;
	text-align: center;
	color: #343a40;
}
.jq-img{
	text-align: center;
}
.jq-img img{
	height: auto;
	width: 13%;
	position: relative;
}
.skills-col{
	display: inline-block;
	float: left;
}

/*Projects*/
.cards-container{
	text-align: center;
	padding-bottom: 3rem;
}
.card-2{
	display: none;
}
.card{
	margin: auto;
	padding: 0;
	display: inline-block;	
	vertical-align: middle;
}
.card-title{
	font-size: 2rem;
	text-align: center;
	padding: 20px 0 10px 0;
	font-weight: bold;
}
.card-text{
	padding-bottom: 10px;
}
.card-body{
	font-size: 1.2rem;
	text-align: left;
	padding: 0 40px 0 40px
}
.card-img-top{
	height: auto;
	width: 100%;
}
.wip{
	opacity: 0.8 !important;
}
#projects .btn-primary{
	margin-bottom: 20px;
}
/*Experience*/
#timeline-section{
	background-color: #ffffff;
}
.timeline-container{
	padding-top: 3rem;
}
/*Timeline Start*/
.timeline {
	list-style: none;
	padding: 20px 0 20px;
	position: relative;
}
.timeline h4{
	font-size: 1.5rem;
}
.timeline p:nth-child(1){
	font-size: 1.2rem;
}
.timeline:before {
	top: 0;
	bottom: 0;
	position: absolute;
	content: " ";
	width: 3px;
	background-color: #eeeeee;
	left: 50%;
	margin-left: -1.5px;
}
.timeline > li {
	margin-bottom: 20px;
	position: relative;
}
.timeline > li:before,
.timeline > li:after {
	content: " ";
	display: table;
}
.timeline > li:after {
	clear: both;
}
.timeline > li:before,
.timeline > li:after {
	content: " ";
	display: table;
}
.timeline > li:after {
	clear: both;
}
.timeline > li > .timeline-panel {
	width: 46%;
	float: left;
	border: 1px solid #d4d4d4;
	border-radius: 2px;
	padding: 20px;
	position: relative;
	-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
.timeline > li > .timeline-panel:before {
	position: absolute;
	top: 26px;
	right: -15px;
	display: inline-block;
	border-top: 15px solid transparent;
	border-left: 15px solid #ccc;
	border-right: 0 solid #ccc;
	border-bottom: 15px solid transparent;
	content: " ";
}

.timeline > li > .timeline-panel:after {
	position: absolute;
	top: 27px;
	right: -14px;
	display: inline-block;
	border-top: 14px solid transparent;
	border-left: 14px solid #ffffff;
	border-right: 0 solid #ffffff;
	border-bottom: 14px solid transparent;
	content: " ";
}

.timeline > li > .timeline-badge {
	color: #ffffff;
	width: 50px;
	height: 50px;
	line-height: 50px;
	font-size: 1.4rem;
	text-align: center;
	position: absolute;
	top: 16px;
	left: 50%;
	margin-left: -25px;
	background-color: #999999;
	z-index: 100;
	border-top-right-radius: 50%;
	border-top-left-radius: 50%;
	border-bottom-right-radius: 50%;
	border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
	float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
	border-left-width: 0;
	border-right-width: 15px;
	left: -15px;
	right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
	border-left-width: 0;
	border-right-width: 14px;
	left: -14px;
	right: auto;
}
.blue-badge{
	background-color: #5bc0de !important;
}
.green-badge{
	background-color: #5cb85c !important; 
}
.orange-badge{
	background-color: #f0ad4e !important; 
}
.red-badge{
	background-color: #d9534f !important; 
}
.timeline-container i.fas{
	font-size: 1.8rem;
}
/*Timeline End*/
/*Passions*/
#passions-section{
	padding: 2rem 0 2rem 0;
}
#passions-section h1{
	padding-bottom: 1rem;
}
#passions-section .container{
	margin-bottom: 2rem;
}
.passions{
	background-color: #ffffff;
	box-shadow: 0px 0px 40px -10px rgba(59,66,71,1);
}
.vertical-align{
	display: inline-block;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.passions p{
	font-size: 1.2rem;
	padding: 0 1rem 0 1rem;
}
.passions img{
	height: auto;
	width: 100%;
	opacity: 0.8;
}
.square-1{
	background-color: grey;
	margin: 0;
	padding: 0;
}
.square-1-text{
	background-color: #a5d8d8;
}
.square-2{
	background-color: grey; 	
	margin: 0;
	padding: 0;
}
.square-2-text{
	background-color: #ffb2b2; 
}
.square-3{
	background-color: grey;
	margin: 0;
	padding: 0;
}
.square-3-text{
	background-color: #fffacc;
}
/*References*/
#reference-section{
	background-color: #ffffff;
}
#reference-section h1{
	padding-top: 2rem;
	margin-bottom: 1rem;
}
#reference-section p, #reference-section h4{
	padding-bottom: 1.5rem;
	margin-bottom: 0; 
}
#reference-section p{
	font-size: 1.rem;
}
/*Footer*/
footer{
	background-color: #6f8799;
	height: 60px;
}
footer p{
	text-align: center;
	font-size: 1.1rem;
	color: #f0f3f4;
	padding-top: 1rem;
}
/*Media QUeries*/
/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	#about{
		padding: 0 0.5rem 0 0.5rem;
	}
	.about-photo img{
		width: 70%;
	}
	.about-text{
		margin: auto;
		text-align: center;
		padding: 1rem 0 3rem 0;
	}
	.about-text h1, .about-text p{
		text-align: center;
		float: none;
	}
	.table{
		margin: 0;	
		padding-left: 0;
	}
	.table li{
		padding-top: 0.3rem;
		padding-left: 2rem;
		text-align: left;	
	}
	#skills-list{
		margin: 0 2rem 0 2rem;
	}
	#skills-list li{
		padding: 0;
		text-align: left;
		padding-bottom: 0.5rem;
	}
	.card-1{
		display: none;
	}

	.card{
		margin-left: auto !important; 
		margin-right: auto !important;
		text-align: center;
	}
	.cards-container{
		margin: 0 !important;
	}
	.timeline > li > .timeline-panel {
	width: 80%;
	float: right;
	padding: 1.2rem;
	margin-right: 1rem;
}
	.timeline:before {
	left: 7%;
}
	.timeline > li > .timeline-badge {
	left: 7%;
}
.timeline > li > .timeline-panel:before {
	border-left-width: 0;
	border-right-width: 15px;
	left: -15px;
	right: auto;
}
.timeline > li > .timeline-panel:after {
	border-left-width: 0;
	border-right-width: 14px;
	left: -14px;
	right: auto;
}
.square-1-text, .square-2-text, .square-3-text{
	height: 31rem;
}
.square-1{
	order:1;
}
.square-1-text{
	order:2;
}
.square-2{
	order:3;
}
.square-2-text{
	order:4;
}
#passions-section{	
	padding-bottom: 0;
}
#skills-list li.i{
		list-style-position: outside !important;
		display: none;
	}

/*// Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) { ... }

/*// Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) { ... }

/*// Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {
